html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}


.section-top{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 5%;
    padding-top: 10%;
}

/* .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  } */

.left-section{
    width: 40%;
    height: auto;
    padding-left: 7%;
    /* padding-top: 10%; */
    padding-right: 10px;
    float: left;
}


.left-section h4{
    font-size: 25px;
    margin-bottom: 15px;
}
.left-section h1{
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 20px;
    color: #3bff14;
}
.left-section p{
    text-align: justify;
    font-size: 18px;
    margin-bottom: 60px;
    width: 100%;
    height: auto;
    color: gray;
}

.btn-down{
    width: auto;
}

.btn-down a{
    text-decoration: none;
    background-color: #3bff14;
    color: white;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 5px;
}

.btn-down a:hover{}


.right-section{
    width: 40%;
    float: right;
    padding-right: 7%;
    /* padding-top: 7% */
}

.right-section img{
    width: 90%;
}


.middle-section{
        width: 100%;
        font-family: 'Poppins', sans-serif;
        padding-bottom: 5%;
    
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .left-banner {
    width: 40%;
    float: left;
    height: auto;
    padding-left: 7%;
    padding-top: 3%;
}

.left-banner img{
    width: 80%;
}

.right-banner{
    width: 40%;
    height: auto;
    padding-right: 7%;
    float: right;
    padding-top: 10%;
}

.link-button{
    width: auto;
    padding-top: 7%;
}

.link-button a{
    text-decoration: none;
    background-color: #3bff14;
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
}

.right-banner h2{
    font-size: 30px;

}

.right-banner p{
    font-size: 18px;
    text-align: justify;
    padding-top: 30px;
    width: 100%;
    height: auto;
    color: gray;
}


.last-banner h2{
    text-align: center;
    font-size: 30px;
    
}


.last-banner img{
    width: 25%;
    float: left;
    padding-left: 6%;
    padding-top: 50px;
}

.client-part h2{
    text-align: center;
    padding-top: 100px;
}

.client-part h4{
    text-align: center;
    padding-top: 80px;
}

.client-part h6{
    text-align: center;
    padding-top: 10px;
}
.client-part p{
    text-decoration: none;
    text-align: center;
    padding-top: 15px;
    font-size: 18px;
    color: gray;
}

.last-part {
    width: 700px;
    background-color: #3bff14;
    border-radius: 10px;
    padding: 40px;
    margin: 0 auto;
    margin-top: 80px;
}

.last-part h6{
    text-align: center;
    color: black;
    padding-top: 20px;
}
.last-part h3{
    text-align: center;
    color: black;
    padding-top: 20px;
}

footer p{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;

}